* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
    /* 10/16=0.625x100=62.5% */
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    /* scroll no thay tena mate apde max-width used thay */
    max-width: 100%;
    display: block;
}

.container {
    max-width: 137rem;
    margin: 0 auto;
}

.main-title {
    font-weight: 600;
    font-size: 6rem;
    line-height: 7rem;
    text-align: center;
    color: #020202;
    max-width: 74rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    text-align: center;
    color: #878787;
}


/*********header********/
header nav ul li a:hover {
    color: red;
}

header nav ul li a i:hover {
    color: green;
}

.search i:hover {
    color: green;
}

header {
    padding-top: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-right: 6.7rem;
}

header nav ul li a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #FFFFFF;
    z-index: 9;

}

header .search i {
    font-size: 1.6rem;
    color: #FFFFFF;
}

/***********************/

/********Hero-Section*********/
#hero {
    width: 100%;
    height: 100vh;
    background: url(../images/hero-banner.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero::before {
    content: '';
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

#hero h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    padding-top: 25.4rem;
    color: #FFFFFF;
}

#hero p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #CFCFCF;
    margin-top: 3.7rem;
    margin-bottom: 2rem;
}

#hero .search-box {
    background-color: #fff;
    width: 73.6rem;
    height: 7.8rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7.2rem;
    padding: 1.4rem 1.1rem;
}

.hero-data select {
    font-family: 'Poppins';
    background: none;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #9B9B9B;
}

.search-box #Submit {
    font-family: 'Poppins';
    background-color: black;
    border: none;
    /* width: 16.1rem;
    height: 5.6rem; */
    border-radius: 5rem;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem 2.5rem;
    line-height: 36px;
    color: #FFFFFF;
}

.hero-data p span {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #ECECEC;
}

/***********************/



/********Explore-Section********/
#explore {
    margin-top: 17.8rem;
}

.container .explore-slide {
    /* margin-top: 10rem; */
    margin-right: 1rem;
    margin-left: 2.1rem;
}


.explore-img img {
    width: 100%;
    height: 36.1rem;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
}

.explore-data {
    border: 1px solid #fff;
    position: relative;
    /* display: none; */
    opacity: 0;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.explore-cercle {
    background-color: #fff;
    position: absolute;
    width: 7.9rem;
    height: 7.6rem;
    border-radius: 5rem;
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.14);
    top: -2.8rem;
    right: 2rem;
}

.explore-data h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-top: 3.4rem;
    padding-left: 1rem;

}

.explore-data p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #555555;
    /* max-width: 40.9rem; */
    padding: 1.5rem;
    padding-left: 1.4rem;
}

.explore-cercle span {
    font-weight: 400;
    font-size: 72px;
    line-height: 126px;
    color: #000000;
    display: inline-block;
    margin: -6px 25px;
}

.explore-slider .swiper-button-next,
.explore-slider .swiper-button-prev {
    margin-top: -3rem;
    margin: -1rem;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    top: 3rem;
    width: 6.9rem;
    height: 6.6rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.explore-slider .swiper-button-next::after,
.explore-slider .swiper-button-prev::after {
    font-size: 2.5rem;
    font-weight: bold;
    color: #737373;
}

.explore-slide:hover .explore-data {
    /* display: block; */
    opacity: 1;
}

.explore-slide:hover {
    transform: translatey(-1rem);
}

.explore-slide:hover .explore-img img {
    border-radius: 1rem 1rem 0 0;
}

.explore-slider .explore-slide {
    margin-top: 14rem;
}

/*******************************/
/* .swiper-wrapper {
        padding-top: 120px;
        padding-bottom: 32px;
    } */
/***********Choose-Section**********/

#choose {
    margin-top: 17.8rem;
    background: url(/assets/images/choose.jpg);
    background-size: 100% 54.2rem;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 8.5rem;
    position: relative;
}

#choose::before {
    content: '';
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    height: 54.2rem;
    position: absolute;
}

.container {
    position: relative;
}

#choose .main-title {
    color: #FFFFFF;
}

#choose .sub-title {
    margin-bottom: 1.7rem;
}

#choose .swiper-wrapper {
    padding-bottom: 3rem;
}

.choose-slide {
    margin-top: 14rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 4.4rem 0 0 1.9rem;
    margin-left: 6rem;
    margin-right: 6rem;
    box-shadow: 0px 8px 60px 0px rgba(0, 0, 0, 0.15);
}

.choose-img {
    width: 9.5rem;
}

.choose-img img {
    width: 100%;
}

.choose-data h3 {
    margin-top: 3.3rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.choose-data p {
    max-width: 28.8rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #858585;
    margin-top: 1rem;
}

.choose-data a {
    margin-top: 3.8rem;
    padding-bottom: 7rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    display: inline-block;
}

#choose .swiper-button-next,
#choose .swiper-button-prev {
    margin: -1rem;
    /* margin-right: -5rem;
    margin-left: -5rem; */
    top: 18rem;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    border-radius: 1rem;
    width: 6.9rem;
    height: 6.6rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#choose .swiper-button-next::after,
#choose .swiper-button-prev::after {
    color: #737373;
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
}

#choose .container1 {
    max-width: 130rem;
    margin: 0 auto;
}

/***********************************/



/************Partner-Section**********/
#partner {
    margin-top: 17.8rem;
}

.partner-box {
    margin-top: 6.9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/***********************************/



/***********client-section**********/
#client {
    margin-top: 17.8rem;

}

.client-container {
    margin-left: calc((100% - 137rem) / 2);
}

#client .client-slider {
    margin-left: -4rem;
}

#client h5 {
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.14em;
    color: #626262;
}

#client .main-title {
    margin-left: -7rem;
}

#client .sub-title {
    text-align: left;
}

#client .client-slide {
    margin-left: 3.3rem;
    margin-bottom: 0.5rem;
}

#client .client-img img {
    margin: 0 auto;
    margin-top: -7rem;
}


#client .client-data {
    margin-top: -6rem;
    border-radius: 1rem;
    box-shadow: 0px 20px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 5rem 5.4rem 5.1rem 5.3rem;
}

.client-data h3 {
    margin-top: 1.5rem;
    padding-top: 4rem;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.client-data h4 {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #858585;
    padding-bottom: 4rem;
}


.client-data i {
    color: #F4BC61;
}


.client-data p {
    padding-top: 1.8rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #858585;
}

#client .swiper-wrapper {
    padding-bottom: 30px;
    margin-top: 8rem;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.nav .swiper-button-next,
.nav .swiper-button-prev {
    margin-bottom: 6.9rem;
    margin-top: 4.3rem;
    /* margin-left: 6.6rem; */
    margin-right: 6.9rem;
    position: static;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    border-radius: 1rem;
    width: 7.3rem;
    height: 7.8rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.nav .swiper-button-next::after,
.nav .swiper-button-prev::after {
    color: #737373;
    font-size: 3rem;
    font-weight: bold;
}

/***********************************/
/************Price-Section**********/
#price {
    margin-top: 17.8rem;
    background: url(../images/hero-banner.jpg);
    background-size: cover;
    background-position: center center;
    padding-bottom: 15.7rem;
    position: relative;
}

#price::before {
    content: '';
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

#price .main-title {
    color: #FFFFFF;
    padding-top: 6.6rem;
    max-width: 86.7rem;
}

#price .price-box {
    margin: 0 auto;
    margin-top: 8.8rem;
    background: #ffffff;
    width: 67.6rem;
    height: 6.9rem;
    border-radius: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1.5rem;
}

#price .email {
    font-family: 'Poppins';
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #9B9B9B;
    margin-left: 2rem;
}

#price .subscribe {
    font-family: 'Poppins';
    border-radius: 2.7rem;
    background: #000;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: #DFDFDF;
    padding: 1rem 3rem;
}

/***********************************/
/*************Footer-Section**********/
footer .container .footer-top {
    margin-top: 8.4rem;
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
}

footer .traveller p {
    margin-top: 5rem;
    /* max-width: 43.7rem; */
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}

footer .container .footer-top h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

footer .contact i {
    color: #000;
    margin-right: 1rem;
}

.footer-top .contact ul li a {
    margin-top: 2.1rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}

.contact ul li a:hover {
    color: red;
}

.contact ul li i:hover {
    color: red;
}

.footer-top .Quick nav ul li a {
    margin-top: 2rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #6C6C6C;
}

.Quick nav ul li a:hover {
    color: red;
}


.footer-top .follow a i {
    margin-top: 2.5rem;
    font-size: 2rem;
    margin-right: 3rem;
    cursor: pointer;
    color: #3D3D3D;
}

/* .follow a i:hover {
    color: red;
} */
.follow .face i:hover {
    color: blue;
}

.follow .twi i:hover {
    color: green;
}

.follow .you i:hover {
    color: red;
}

.follow .insta i:hover {
    color: #fa7e1e;
}


footer .footer-bottom {
    background: #000;
}

footer .footer-bottom p {
    padding-top: 4.4rem;
    padding-bottom: 4.3rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #DFDFDF;
}

/*************************************/

/* /1366-1440 (laptop) / */

@media screen and (max-width:1440px) {

    .container {
        max-width: 131rem;
    }

    header {
        padding-top: 4rem;
    }

    header img {
        width: 85%;
    }

    header nav ul li {
        margin-right: 5.7rem;
    }

    header nav ul li a {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    header .search i {
        font-size: 1.4rem;
    }

    #hero {
        height: 100%;
    }

    #hero h1 {
        font-size: 80px;
        line-height: 100px;
        padding-top: 28.4rem;
    }

    #hero p {
        font-size: 16px;
        line-height: 30px;
        margin-top: 2.7rem;
    }

    .hero-data select {
        font-size: 16px;
        line-height: 25px;
    }

    .hero-data p span {
        font-size: 16px;
        line-height: 30px;
    }

    .search-box #Submit {
        font-size: 16px;
    }

    #explore {
        margin-top: 15.8rem;
    }

    .sub-title {
        font-size: 16px;
        line-height: 2.6rem;
    }

    .main-title {
        font-size: 6rem;
        line-height: 6rem;
        margin-bottom: 2rem;
    }

    .explore-img img {
        height: 35.1rem;
    }

    .explore-data h4 {
        font-size: 20px;
        line-height: 25px;
        margin-top: 2.4rem;
    }

    .explore-data p {
        font-size: 16px;
        line-height: 17px;
        padding: 1.3rem;
        padding-left: 1rem;
    }

    .explore-cercle {
        width: 6.9rem;
        height: 6.6rem;
    }

    .explore-cercle span {
        font-weight: 400;
        font-size: 60px;
        line-height: 126px;
        margin: -15px 22px;
    }

    .explore-slider .swiper-button-next,
    .explore-slider .swiper-button-prev {
        width: 5rem;
        height: 5rem;
    }

    .explore-slider .swiper-button-next::after,
    .explore-slider .swiper-button-prev::after {
        font-size: 1.8rem;
    }

    #choose {
        margin-top: 15.8rem;
        padding-top: 4.5rem;
        background-size: 100% 51.2rem;
    }

    #choose::before {
        height: 51.2rem;
    }

    #choose .container1 {
        max-width: 123rem;
    }

    .choose-img img {
        width: 80%;
    }


    .choose-slide {
        margin-top: 15 rem;
        padding: 3.4rem 0 0 1.5rem;
    }

    .choose-data p {
        font-size: 16px;
        line-height: 25px;
    }

    .choose-data h3 {
        margin-top: 2.3rem;
        font-size: 20px;
        line-height: 30px;
    }



    .choose-data a {
        margin-top: 2.8rem;
        padding-bottom: 5rem;
        font-size: 15px;
        line-height: 20px;

    }

    #choose .swiper-wrapper {
        padding-bottom: 3.5rem;
    }

    #choose .swiper-button-next,
    #choose .swiper-button-prev {
        top: 16rem;
        width: 5rem;
        height: 5rem;
    }

    #choose .swiper-button-next::after,
    #choose .swiper-button-prev::after {
        font-size: 1.8rem;
    }

    #partner {
        margin-top: 15.8rem;
    }

    #client {
        margin-top: 15.8rem;
    }

    #client img {
        width: 30%;
    }

    .client-container {
        margin-left: calc((100% - 131rem) / 2);
    }

    #client h5 {
        font-size: 23px;
    }


    #client .client-slide {
        margin-left: 4.3rem;
        margin-bottom: 0rem;
    }

    #client .main-title {
        margin-left: -7rem;
    }

    .client-data h3 {
        margin-top: 1rem;
        padding-top: 2rem;
        font-size: 21px;
    }

    .client-data h4 {
        font-size: 16px;
        padding-bottom: 2rem;
    }

    .client-data p {
        padding-top: 1rem;
        font-size: 16px;
        line-height: 24px;
    }

    .client-data .star-img {
        padding-top: 6rem;
    }

    #client .client-data {
        margin-top: -5rem;
        padding: 4rem 4.4rem 4.1rem 4.3rem;
    }

    #client .swiper-wrapper {
        padding-bottom: 3.5rem;
    }

    .nav .swiper-button-next,
    .nav .swiper-button-prev {
        margin-bottom: 4.9rem;
        margin-top: 3.3rem;
        margin-right: 4.9rem;
        width: 5rem;
        height: 5rem;
    }

    .nav .swiper-button-next::after,
    .nav .swiper-button-prev::after {
        font-size: 1.8rem;
    }

    .partner-box {
        margin-top: 4.9rem;
    }

    #price {
        margin-top: 15.8rem;
        padding-bottom: 13.7rem;
    }

    #price .price-box {
        margin-top: 5.8rem;
        width: 66.6rem;
        height: 5.9rem;
        padding: 1rem 1rem;
    }

    #price .email {
        font-size: 16px;
        line-height: 24px;
        margin-left: 1rem;
    }

    #price .subscribe {
        font-size: 16px;
        line-height: 28px;
        padding: 1rem 2rem;
    }

    .footer-top .traveller img {
        width: 85%;
    }

    footer .traveller p {
        margin-top: 2rem;
        font-size: 16px;
        line-height: 24px;
    }

    footer .container .footer-top h3 {
        font-size: 19px;
    }


    .footer-top .Quick nav ul li a {
        margin-top: 1rem;
        font-size: 16px;
        line-height: 25px;
    }


    .footer-top .contact ul li a {
        margin-top: 1rem;
        font-size: 16px;
        line-height: 25px;
    }

    .footer-top .follow a i {
        margin-top: 2rem;
        font-size: 1.7rem;
        margin-right: 3rem;
    }

    footer .footer-bottom p {
        padding-top: 3.4rem;
        padding-bottom: 3.3rem;
        font-size: 16px;
        line-height: 25px;
    }

}

/*****************************************/


/******** 1200- 1365 (Big i-Pad)*************/
@media screen and (max-width:1365px) {

    .container {
        max-width: 115rem;
    }

    header {
        padding-top: 3rem;
    }

    header img {
        width: 80%;
    }

    header nav ul li {
        margin-right: 4.7rem;
    }

    header nav ul li a {
        font-size: 1.5rem;
        line-height: 2.3rem;
    }

    header .search i {
        font-size: 1.2rem;
    }


    #hero {
        height: 100%;
    }

    #hero h1 {
        font-size: 76px;
        line-height: 90px;
        padding-top: 24.4rem;
    }

    #hero p {
        font-size: 15px;
        line-height: 28px;
        margin-top: 2.5rem;
    }

    #hero .search-box {
        width: 70.5rem;
        height: 6.8rem;
    }

    .hero-data select {
        font-size: 15px;
        line-height: 20px;
    }

    .hero-data p span {
        font-size: 15px;
        line-height: 20px;
    }

    .search-box #Submit {
        font-size: 15px;
    }

    #explore {
        margin-top: 12.8rem;
    }

    .sub-title {
        font-size: 15px;
        line-height: 2.3rem;
    }

    .main-title {
        max-width: 75rem;
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 1.5rem;
    }

    .explore-img img {
        height: 33.1rem;
    }


    .explore-slider .swiper-button-next,
    .explore-slider .swiper-button-prev {
        width: 4.8rem;
        height: 4.8rem;
    }

    .explore-slider .swiper-button-next::after,
    .explore-slider .swiper-button-prev::after {
        font-size: 1.6rem;
    }

    #choose {
        margin-top: 12.8rem;
        padding-top: 4rem;
        background-size: 100% 46.2rem;
    }

    #choose::before {
        height: 46.2rem;
    }

    #choose .sub-title {
        margin-bottom: 1.5rem;
    }

    #choose .container1 {
        max-width: 114rem;
    }

    .choose-img img {
        width: 70%;
    }

    .choose-slide {
        margin-top: 14rem;
        padding: 3rem 0 0 1.3rem;
    }

    .choose-data p {
        /* max-width: 19rem; */
        font-size: 15px;
        line-height: 24px;
    }

    .choose-data h3 {
        margin-top: 2rem;
        font-size: 18px;
        line-height: 25px;
    }

    .choose-data a {
        margin-top: 2rem;
        padding-bottom: 4rem;
        font-size: 15px;
        line-height: 15px;
    }

    #choose .swiper-wrapper {
        padding-bottom: 3.3rem;
    }

    #choose .swiper-button-next,
    #choose .swiper-button-prev {
        top: 13rem;
        width: 4.8rem;
        height: 4.8rem;
    }

    #choose .swiper-button-next::after,
    #choose .swiper-button-prev::after {
        font-size: 1.6rem;
    }

    .partner-box {
        margin-top: 3.9rem;
    }


    #client {
        margin-top: 12.8rem;
    }

    #client img {
        width: 28%;
    }

    .client-container {
        margin-left: calc((100% - 115rem) / 2);
    }

    #client h5 {
        font-size: 20px;
    }

    #partner {
        margin-top: 12.8rem;
    }

    /* 
    #client .client-slide {
        margin-left: 4.3rem;
    } */

    #client .main-title {
        margin-left: -13rem;
    }

    .client-data h3 {
        font-size: 18px;
    }

    .client-data h4 {
        font-size: 15px;
        padding-bottom: 1.5rem;
    }

    .client-data p {
        font-size: 15px;
        line-height: 23px;
    }

    #client .client-data {
        margin-top: -4rem;
        padding: 3rem 4.4rem 3.1rem 4.3rem;
    }

    #client .swiper-wrapper {
        padding-bottom: 3.2rem;
    }

    .nav .swiper-button-next,
    .nav .swiper-button-prev {
        margin-bottom: 4rem;
        margin-top: 3rem;
        margin-right: 4.5rem;
        width: 4.8rem;
        height: 4.8rem;
    }

    .nav .swiper-button-next::after,
    .nav .swiper-button-prev::after {
        font-size: 1.6rem;
    }

    #price {
        margin-top: 12.8rem;
        padding-bottom: 12.7rem;
    }

    #price .price-box {
        margin-top: 4.8rem;
        width: 49.6rem;
        height: 5rem;
        padding: 1rem 0.8rem;
    }

    #price .email {
        font-size: 15px;
        line-height: 20px;
    }

    #price .subscribe {
        font-size: 15px;
        line-height: 24px;
        padding: 1rem 1.5rem;
    }

    footer .container .footer-top {
        margin-top: 7.4rem;
        margin-bottom: 6rem;
    }

    .footer-top .traveller img {
        width: 75%;
    }

    footer .traveller p {
        margin-top: 1.5rem;
        font-size: 15px;
        line-height: 23px;
    }

    footer .container .footer-top h3 {
        font-size: 18px;
    }

    .footer-top .contact ul li a {
        margin-top: 0rem;
        font-size: 15px;
        line-height: 28px;
    }

    .footer-top .Quick nav ul li a {
        margin-top: 0rem;
        font-size: 15px;
        line-height: 29px;
    }

    .footer-top .follow a i {
        margin-top: 1rem;
        font-size: 1.6rem;
        margin-right: 2rem;
    }

    footer .footer-bottom p {
        padding-top: 2.4rem;
        padding-bottom: 2.3rem;
        font-size: 15px;
        line-height: 20px;
    }

}



/******** 992- 1199 (Big-tablet)*************/
@media screen and (max-width:1199px) {
    .container {
        max-width: 95rem;
    }

    header img {
        width: 75%;
    }

    header nav ul li {
        margin-right: 3.7rem;
    }

    header nav ul li a {
        font-size: 1.4rem;
        line-height: 2.3rem;
    }


    #hero {
        height: 100%;
    }


    #hero h1 {
        font-size: 68px;
        line-height: 84px;
        padding-top: 26.4rem;
    }


    #hero .search-box {
        width: 54.5rem;
        height: 5.8rem;
    }


    .hero-data select {
        font-size: 14px;
        line-height: 15px;
    }

    .search-box #Submit {
        font-size: 14px;
        padding: 1rem 1.5rem;
        line-height: 27px;
    }

    #hero p {
        font-size: 14px;
        line-height: 24px;
    }

    #explore {
        margin-top: 10.8rem;
    }

    .main-title {
        max-width: 61rem;
        font-size: 4rem;
        line-height: 4.5rem;
        margin-bottom: 1.3rem;
    }

    .sub-title {
        font-size: 14px;
        line-height: 2rem;
    }

    .explore-slider .swiper-button-next,
    .explore-slider .swiper-button-prev {
        top: 6rem;
        width: 4.6rem;
        height: 4.6rem;
    }

    .explore-slider .swiper-button-next::after,
    .explore-slider .swiper-button-prev::after {
        font-size: 1.5rem;
    }

    .explore-img img {
        height: 31.1rem;
    }

    #explore .explore-slider {
        margin-top: -5rem;
    }

    .explore-data h4 {
        font-size: 18px;
        line-height: 20px;
        margin-top: 2rem;
    }

    .explore-data p {
        max-width: 40rem;
        font-size: 14px;
        line-height: 17px;
        padding: 1.3rem;
        padding-left: 1.3rem;
    }

    .explore-cercle {
        width: 6.5rem;
        height: 6.5rem;
    }

    .explore-cercle span {
        font-size: 54px;
        margin: -15px 20px;
    }

    #choose {
        margin-top: 10.8rem;
        padding-top: 3rem;
        background-size: 100% 39.2rem;
    }

    #choose::before {
        height: 39.2rem;
    }

    .choose-img img {
        width: 65%;
    }

    .choose-data h3 {
        margin-top: 1.8rem;
        font-size: 17px;
        line-height: 24px;
    }

    #choose .container1 {
        max-width: 89rem;
    }

    .choose-data p {
        /* max-width: 20rem; */
        font-size: 14px;
        line-height: 23px;
    }


    .choose-data a {
        padding-bottom: 3.8rem;
        font-size: 14px;
        line-height: 10px;
    }

    #choose .swiper-button-next,
    #choose .swiper-button-prev {
        top: 9rem;
        width: 4.6rem;
        height: 4.6rem;
    }

    #choose .swiper-button-next::after,
    #choose .swiper-button-prev::after {
        font-size: 1.5rem;
    }

    #choose .swiper-wrapper {
        padding-bottom: 4.3rem;
    }

    .choose-slide {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 10rem;
        padding: 2rem 0 0 1.2rem;
    }

    #partner {
        margin-top: 10.8rem;
    }

    .partner-box {
        margin-top: 3.9rem;
        padding: 0px 107px 0px 107px;

    }

    #partner .partner-img img {
        width: 80%;
    }

    #client {
        margin-top: 10.8rem;
    }

    .client-container {
        margin-left: calc((100% - 95rem) / 2);
    }

    #client h5 {
        font-size: 18px;
    }

    #client .client-slide {
        margin-left: 6rem;
        margin-right: 6rem;
        /* margin-bottom: 0rem; */
    }

    #client .main-title {
        margin-left: -11rem;
    }

    #client img {
        width: 27%;
    }

    .client-data h3 {
        margin-top: 2rem;
        font-size: 18px;
    }

    .client-data h4 {
        font-size: 14px;
        padding-bottom: 1.2rem;
    }

    .client-data p {
        max-width: 29rem;
        font-size: 14px;
        line-height: 23px;
    }

    #price .email {
        font-size: 14px;
        line-height: 17px;
    }

    #price .subscribe {
        font-size: 14px;
        line-height: 20px;
        padding: 1rem 1.2rem;
    }

    #price {
        margin-top: 10.8rem;
        padding-bottom: 10.7rem;
    }

    #price .price-box {
        margin-top: 3.8rem;
        width: 46.6rem;
    }

    .footer-top .traveller img {
        width: 65%;
    }


    footer .traveller p {
        margin-top: 1.3rem;
        font-size: 14px;
        line-height: 20px;
    }

    footer .container .footer-top {
        margin-top: 6.4rem;
        margin-bottom: 5rem;
    }

    footer .container .footer-top h3 {
        font-size: 17px;
    }

    .footer-top .contact ul li a {
        margin-top: -3rem;
        font-size: 14px;
        line-height: 55px;
    }

    .footer-top .Quick nav ul li a {
        margin-top: -4rem;
        font-size: 14px;
        line-height: 69px;
    }


    .footer-top .follow a i {
        margin-top: -1rem;
        font-size: 1.4rem;
    }

    footer .footer-bottom p {
        font-size: 14px;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
        line-height: 18px;
    }
}



/******** 768- 991 (Small-Tablet)*************/
@media screen and (max-width:991px) {

    .container {
        max-width: 73rem;
    }

    header img {
        width: 65%;
    }

    header nav ul li a {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    header nav ul li {
        margin-right: 2.7rem;
    }

    header .search i {
        font-size: 1rem;
    }


    #hero {
        height: 100%;
    }

    #hero h1 {
        font-size: 48px;
        line-height: 53px;
        padding-top: 15.4rem;
    }

    #hero p {
        font-size: 12px;
        line-height: 20px;
    }

    #hero .search-box {
        width: 44.5rem;
        height: 4.4rem;
    }

    .hero-data select {
        font-size: 12px;
        line-height: 10px;
    }


    .search-box #Submit {
        margin-right: -4px;
        font-size: 12px;
        line-height: 16px;
    }

    .hero-data p span {
        font-size: 12px;
        line-height: 15px;
    }

    .main-title {
        max-width: 52rem;
        font-size: 3.5rem;
        line-height: 4.5rem;
        margin-bottom: 1rem;
    }

    .sub-title {
        font-size: 12px;
        line-height: 1.8rem;
    }

    #explore {
        margin-top: 8.8rem;
    }

    .explore-img img {
        height: 28.1rem;
    }

    .explore-slider .swiper-button-next,
    .explore-slider .swiper-button-prev {
        top: 6rem;
        width: 4.2rem;
        height: 4.2rem;
    }

    .explore-slider .swiper-button-next::after,
    .explore-slider .swiper-button-prev::after {
        font-size: 1.3rem;
    }

    .explore-cercle span {
        font-size: 50px;
        margin: -19px 19px;
    }

    .explore-cercle {
        width: 6rem;
        height: 6rem;
    }


    .explore-data h4 {
        font-size: 16px;
        line-height: 18px;
        margin-top: 1.8rem;
    }

    .explore-data p {
        /* max-width: 34rem; */
        font-size: 12px;
        line-height: 16px;
        padding: 1.5rem;
        padding-left: 1.3rem;
    }

    #choose {
        margin-top: 8.8rem;
        padding-top: 2rem;
        background-size: 100% 34.2rem;
    }

    #choose::before {
        height: 34.2rem;
    }



    #choose .swiper-button-next,
    #choose .swiper-button-prev {
        top: 8rem;
        width: 4.2rem;
        height: 4.2rem;
    }

    #choose .swiper-button-next::after,
    #choose .swiper-button-prev::after {
        font-size: 1.3rem;
    }


    #choose .container1 {
        max-width: 63rem;
    }

    .choose-slide {
        margin-left: 5rem;
        margin-right: 7rem;
        margin-top: 9rem;
        padding: 1.8rem 0 0 1.1rem;
    }

    .choose-img img {
        width: 55%;
    }

    .client-data .star-img {
        padding-top: 3rem;
    }

    .choose-data h3 {
        margin-top: 1.5rem;
        font-size: 15px;
        line-height: 20px;
    }

    .choose-data p {
        max-width: 16rem;
        font-size: 12px;
        line-height: 21px;
    }

    .choose-data a {
        padding-bottom: 3.5rem;
        font-size: 12px;
        line-height: 8px;
    }

    #partner {
        margin-top: 8.8rem;
    }

    .partner-box {
        padding: 0 60px;
        row-gap: 20px;
        margin-top: 2.9rem;
        flex-wrap: wrap;
    }

    #partner .partner-img img {
        width: 70%;
    }

    #client {
        margin-top: 8.8rem;
    }

    .client-container {
        margin-left: calc((100% - 73rem) / 2);
    }

    #client h5 {
        font-size: 15px;
    }

    #partner {
        margin-top: 4.8rem;
    }

    #client .client-slide {
        margin-left: 40px;
        margin-right: 40px;

    }


    .client-data p {
        max-width: 22rem;
        font-size: 12px;
        line-height: 23px;
    }

    #client .main-title {
        margin-left: -9rem;
    }

    .nav .swiper-button-next,
    .nav .swiper-button-prev {
        margin-bottom: 4rem;
        margin-top: 3rem;
        margin-right: 31rem;
        margin-left: -27rem;
        width: 4.2rem;
        height: 4.2rem;
    }

    .nav .swiper-button-next::after,
    .nav .swiper-button-prev::after {
        font-size: 1.3rem;
    }

    #client .client-img img {
        margin-top: -4rem;
    }

    #client img {
        width: 35%;
    }

    .client-data h4 {
        font-size: 10px;
        padding-bottom: 6.2rem;
    }

    .client-data h3 {
        margin-top: 3rem;
        font-size: 16px;
    }

    #client .client-data {
        margin-top: -5rem;
        padding: 3rem 4.4rem 3.1rem 4.3rem;
    }

    #price {
        margin-top: 6 .8rem;
        padding-bottom: 7.7rem;
    }

    #price .main-title {
        padding-top: 3.6rem;
        max-width: 50.7rem;
    }

    #price .price-box {
        width: 41.6rem;
        height: 4.5rem;
    }

    #price .email {
        font-size: 12px;
        line-height: 14px;
    }

    #price .subscribe {
        font-size: 12px;
        line-height: 16px;
        padding: 1rem 1rem;
    }

    footer .container .footer-top {
        margin-top: 6rem;
        margin-bottom: 5rem;
        flex-wrap: wrap;
        row-gap: 3rem;
    }

    footer .footer-top .traveller {
        width: 50%;
    }

    footer .footer-top .contact {
        width: 50%;
    }

    footer .footer-top .Quick {
        width: 50%;
    }

    footer .footer-top .follow {
        width: 50%;
    }


    footer .container .footer-top h3 {
        font-size: 17px;
        margin-top: -2rem;
    }


    .footer-top .traveller img {
        width: 70%;
    }


    footer .traveller p {
        margin-top: 0rem;
        font-size: 12px;
        line-height: 20px;
    }

    .footer-top .contact ul li a {
        margin-top: -3rem;
        font-size: 12px;
        line-height: 55px;
    }

    .footer-top .Quick nav ul li a {
        margin-top: -4rem;
        font-size: 12px;
        line-height: 68px;
    }

    footer .footer-bottom p {
        font-size: 12px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        line-height: 15px;
    }
}


/***********575-767 (Mobile-Landscape)***************/
@media screen and (max-width:767px) {

    header {
        padding-top: 2rem;
    }

    .container {
        max-width: 53rem;
    }

    header nav ul li a {
        font-size: 1rem;
        line-height: 1rem;
    }

    #hero h1 {
        font-size: 34px;
        line-height: 40px;
        padding-top: 12.4rem;
    }

    #hero p {
        font-size: 10px;
        line-height: 15px;
    }

    #hero .search-box {
        width: 28.5rem;
        height: 3.4rem;
    }

    .hero-data select {
        font-size: 10px;
        line-height: 10px;
    }

    .search-box #Submit {
        padding: 1rem 1rem;
        margin-right: -7px;
        font-size: 10px;
        line-height: 8px;
    }

    .hero-data p span {
        font-size: 10px;
        line-height: 9px;
    }

    #explore {
        margin-top: 7.8rem;
    }

    .explore-img img {
        height: 27.1rem;
    }


    .explore-data p {
        font-size: 11px;
        line-height: 14px;
        padding: 1rem;
        padding-left: 1rem;
    }

    .main-title {
        max-width: 38rem;
        font-size: 2.5rem;
        line-height: 3rem;
        margin-bottom: 1rem;
    }

    .sub-title {
        font-size: 10px;
        line-height: 1.5rem;
    }

    .explore-slider .swiper-button-next,
    .explore-slider .swiper-button-prev {
        top: 6rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .explore-slider .swiper-button-next::after,
    .explore-slider .swiper-button-prev::after {
        font-size: 1rem;
    }

    .explore-slider .explore-slide {
        margin-top: 12rem;
    }



    #choose {
        margin-top: 7.8rem;
        padding-top: 1.5rem;
        background-size: 100% 28.2rem;
    }

    #choose::before {
        height: 28.2rem;
    }

    #choose .container1 {
        max-width: 33rem;
    }


    .choose-img img {
        width: 50%;
    }


    .choose-data h3 {
        margin-top: 1.5rem;
        font-size: 13px;
        line-height: 20px;
    }


    .choose-data p {
        font-size: 10px;
        line-height: 19px;
    }

    .choose-data a {
        padding-bottom: 3.5rem;
        font-size: 10px;
        line-height: 8px;
    }

    .client-data h3 {
        margin-top: 3rem;
        font-size: 16px;
    }

    #client img {
        width: 30%;
    }


    .client-data h4 {
        font-size: 10px;
        padding-bottom: 6.2rem;
    }

    #client .client-slide {
        margin-left: 130px;
        margin-right: 130px;
    }

    .choose-slide {
        margin-left: 7rem;
        margin-right: 7rem;
        margin-top: 6.5rem;
        padding: 1.8rem 0 0 1.1rem;
    }

    #choose .swiper-button-next,
    #choose .swiper-button-prev {
        top: 7rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    #choose .swiper-button-next::after,
    #choose .swiper-button-prev::after {
        font-size: 1rem;
    }

    #partner {
        margin-top: 3.8rem;
    }

    .partner-box {
        padding: 0px 84px 0px 84px;
        row-gap: 25px;
        margin-top: 2rem;
        flex-wrap: wrap;
    }

    #client {
        margin-top: 7.8rem;
    }

    .client-container {
        margin-left: calc((100% - 53rem) / 2);
    }

    #client .main-title {
        margin-left: -7rem;
    }


    #client .client-img img {
        margin-top: -6rem;
    }


    #client .client-data {
        margin-top: -5rem;
        padding: 3rem 4.4rem 3.1rem 4.3rem;
    }


    #client h5 {
        font-size: 13px;
    }

    .nav .swiper-button-next,
    .nav .swiper-button-prev {
        margin-bottom: 4rem;
        margin-top: 3rem;
        margin-right: 23rem;
        margin-left: -20rem;
        width: 3.2rem;
        height: 3.2rem;
    }

    .nav .swiper-button-next::after,
    .nav .swiper-button-prev::after {
        font-size: 1rem;
    }

    #price {
        margin-top: 7.8rem;
        padding-bottom: 6rem;
    }

    #price .main-title {
        padding-top: 2.6rem;
        max-width: 36.7rem;
    }

    #price .price-box {
        width: 28.6rem;
        height: 3.5rem;
    }

    #price .email {
        font-size: 10px;
        line-height: 10px;
        margin-left: 2px;
    }

    #price .subscribe {
        font-size: 10px;
        line-height: 11px;
        padding: 1rem 1rem;
        margin-right: -3px;
    }

    footer .container .footer-top {
        margin-top: 4rem;
        margin-bottom: 3rem;
        flex-wrap: wrap;
    }



    footer .footer-top .traveller {
        width: 60%;
    }


    footer .footer-top .contact {
        width: 40%;
    }

    footer .footer-top .Quick {
        width: 60%;
    }

    footer .footer-top .follow {
        width: 40%;
    }


    footer .traveller p {
        margin-top: 0rem;
        font-size: 10px;
        line-height: 18px;
    }

    footer .container .footer-top h3 {
        font-size: 15px;
        margin-top: -2rem;
    }

    .footer-top .contact ul li a {
        margin-top: -3rem;
        font-size: 10px;
        line-height: 53px;
    }

    .footer-top .Quick nav ul li a {
        margin-top: -4rem;
        font-size: 10px;
        line-height: 66px;
    }

    .footer-top .follow a i {
        margin-top: 0rem;
        font-size: 1.2rem;
        margin-right: 1.5rem;
    }


    footer .footer-bottom p {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        line-height: 8px;
        font-size: 10px;
    }

}

/*********************************/

/**********480-574 (Mobile)****************/
@media screen and (max-width:574px) {

    .container {
        max-width: 42rem;
    }

    #hero h1 {
        font-size: 26px;
        line-height: 30px;
        padding-top: 9.4rem;
    }

    header {
        padding-top: 1rem;
    }

    .main-title {
        max-width: 30rem;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    #explore {
        margin-top: 6.8rem;
    }

    .explore-img img {
        height: 25.1rem;
    }

    .explore-data p {
        font-size: 10px;
        line-height: 14px;
        padding: 1rem;
        padding-left: 1rem;
    }




    .explore-slider .explore-slide {
        margin-top: 11rem;
    }

    .explore-cercle {
        width: 5rem;
        height: 5rem;
    }

    .explore-cercle span {
        font-size: 40px;
        margin: -27px 17px;
    }

    .explore-data h4 {
        font-size: 14px;
        line-height: 18px;
        margin-top: 1.8rem;
    }

    .explore-slider .swiper-button-next,
    .explore-slider .swiper-button-prev {
        top: 5rem;
        width: 3rem;
        height: 3rem;
    }


    .explore-slider .swiper-button-next::after,
    .explore-slider .swiper-button-prev::after {
        font-size: 0.9rem;
    }



    #choose {
        margin-top: 6.8rem;
        padding-top: 1rem;
        background-size: 100% 25.2rem;
    }

    .choose-img img {
        width: 45%;
    }

    #choose::before {
        height: 25.2rem;
    }

    #choose .container1 {
        max-width: 30rem;
    }

    .choose-slide {
        margin-left: 7rem;
        margin-right: 7rem;
        margin-top: 5.5rem;
        padding: 1rem 0 0 1rem;
    }

    #choose .swiper-button-next,
    #choose .swiper-button-prev {
        top: 6rem;
        width: 3rem;
        height: 3rem;
    }


    #choose .swiper-button-next::after,
    #choose .swiper-button-prev::after {
        font-size: 0.9rem;
    }

    #partner {
        margin-top: 2.8rem;
    }

    .partner-box {
        padding: 0px 128px 0px 128px;
    }

    #client {
        margin-top: 6.8rem;
    }

    .client-container {
        margin-left: calc((100% - 42rem) / 2);
    }

    #client .main-title {
        margin-left: -5rem;
    }

    .client-data h3 {
        font-size: 14px;
    }

    #client h5 {
        font-size: 12px;
    }

    .nav .swiper-button-next,
    .nav .swiper-button-prev {
        margin-right: 21rem;
        margin-left: -18rem;
        width: 3rem;
        height: 3rem;
    }

    .client-data h3 {
        font-size: 15px;
    }

    #client .client-data {
        margin-top: -5rem;
        padding: 2rem 2.4rem 2.1rem 2.3rem;
    }

    #client img {
        width: 29%;
    }

    .client-data .star-img {
        padding-top: 1rem;
    }

    #price {
        margin-top: 4.8rem;
    }


    #price .price-box {
        width: 25.6rem;
        height: 3.5rem;
    }

    footer .container .footer-top {
        margin-top: 3rem;
        margin-bottom: 2rem;

    }

    footer .container .footer-top h3 {
        font-size: 14px;
        margin-top: -2rem;
    }
}


/******************************************/

/************320-479(Small-Mobile)*******************/

@media screen and (max-width:479px) {

    .container {
        max-width: 27rem;
    }

    #hero h1 {
        font-size: 20px;
        line-height: 24px;
        padding-top: 8.4rem;
    }

    .main-title {
        max-width: 22rem;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    #explore {
        margin-top: 5.8rem;
    }

    .explore-slider .explore-slide {
        margin-top: 9rem;
    }


    .explore-img img {
        height: 20.1rem;
    }

    .explore-cercle {
        width: 4.5rem;
        height: 4.5rem;
    }

    .explore-cercle span {
        font-size: 37px;
        margin: -31px 15px;
    }

    .explore-data h4 {
        font-size: 13px;
        line-height: 10px;
        margin-top: 1rem;
    }



    .explore-slider .swiper-button-next,
    .explore-slider .swiper-button-prev {
        top: 5rem;
        width: 2.5rem;
        height: 2.5rem;
    }


    .explore-slider .swiper-button-next::after,
    .explore-slider .swiper-button-prev::after {
        font-size: 0.8rem;
    }




    #choose {
        margin-top: 5.8rem;
        padding-top: 1rem;
        background-size: 100% 21.2rem;
    }

    #choose::before {
        height: 21.2rem;
    }

    #choose .container1 {
        max-width: 25rem rem;
    }


    .choose-img img {
        width: 35%;
    }


    .choose-slide {
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 4.5rem;
        padding: 1rem 0 0 1rem;
    }

    #choose .container1 {
        max-width: 21rem;
    }



    .choose-data h3 {
        margin-top: 1rem;
        font-size: 12px;
        line-height: 12px;
    }

    .choose-data p {
        line-height: 15px;
    }

    .choose-data a {
        padding-bottom: 2.5rem;
        line-height: 0px;
    }


    #choose .swiper-button-next,
    #choose .swiper-button-prev {

        width: 2.5rem;
        height: 2.5rem;
    }

    #choose .swiper-button-next::after,
    #choose .swiper-button-prev::after {
        font-size: 0.8rem;
    }


    #partner {
        margin-top: 0.8rem;
    }


    .partner-box {
        padding: 0px 90px 0px 90px;
        row-gap: 13px;
    }


    #client {
        margin-top: 5.8rem;
    }


    .client-container {
        margin-left: calc((100% - 27rem) / 2);
    }


    #client h5 {
        font-size: 11px;
    }

    #client .main-title {
        margin-left: -4rem;
    }


    .nav .swiper-button-next,
    .nav .swiper-button-prev {
        margin-right: 12rem;
        margin-left: -10rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    .nav .swiper-button-next::after,
    .nav .swiper-button-prev::after {
        font-size: 0.8rem;
    }


    #client .client-slide {
        margin-left: 100px;
        margin-right: 90px;
    }


    .client-data h3 {
        font-size: 13px;
    }

    #client .client-data {
        margin-top: -2rem;
    }

    .client-data h4 {
        padding-bottom: 5.2rem;
    }

    #client .client-img img {
        margin-top: -8rem;
    }

    #price {
        margin-top: 3.8rem;
    }

    #price .price-box {
        width: 23.6rem;
        height: 3.5rem;
    }

    footer .container .footer-top h3 {
        font-size: 13px;
        margin-top: -3rem;
    }


    .footer-top .Quick nav ul li a {

        line-height: 60px;
    }


    .footer-top .follow a i {
        margin-right: 1rem;
    }

    footer .footer-top .traveller {
        width: 100%;
    }


    footer .footer-top .contact {
        width: 100%;
    }

    footer .footer-top .Quick {
        width: 100%;
    }

    footer .footer-top .follow {
        width: 100%;
    }

    .footer-top .traveller img {
        width: 60%;
    }

}

/****************************************************/